@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
}

.graident-gray {
  background: rgb(239, 239, 239);
  background: linear-gradient(
    180deg,
    rgba(239, 239, 239, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
}

.blog {
  transition: all 250ms;
}

.blog:hover {
  transform: translateY(-10px) !important;
}

.swiper-wrapper {
  padding-top: 24px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none !important;
}

.swiper-button-next {
  height: 70px !important;
  width: 70px !important;
  border-radius: 99px !important;
  display: grid !important;
  align-items: center !important;
  justify-items: center !important;
  background: transparent !important;
  border: 2px solid #10172a !important;
  background-color: #10172a !important;
  right: -120px !important;
}

.swiper-button-prev {
  height: 70px !important;
  width: 70px !important;
  border-radius: 99px !important;
  display: grid !important;
  align-items: center !important;
  justify-items: center !important;
  background: transparent !important;
  border: 2px solid #10172a !important;
  background-color: #10172a !important;
  left: -120px !important;
}

.new-slider-main {
  position: relative;
}

.swiper-navigations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
}

.swiper-button-disabled {
  filter: grayscale(100%);
  opacity: 0.2 !important;
}

@media (max-width: 1500px) {
  .swiper-button-next {
    right: -34px !important;
  }

  .swiper-button-prev {
    left: -34px !important;
  }

  .swiper-button-disabled {
    display: none !important;
  }
}

@media(max-width:599px) {
  .swiper-navigations {
    top: 46%;
  }
}

@media (max-width: 1300px) {
  .ornament {
    display: none;
  }
}

@media (max-width: 800px) {
  .swiper-button-next {
    height: 54px !important;
    width: 54px !important;
  }

  .swiper-button-prev {
    height: 54px !important;
    width: 54px !important;
  }
}

@media (max-width: 800px) {
  .swiper-button-next {
    height: 42px !important;
    width: 42px !important;
    right: -16px !important;
  }

  .swiper-button-prev {
    height: 42px !important;
    width: 42px !important;
    left: -16px !important;
  }

  .swiper-button-next img {
    width: 14px;
    height: auto;
    display: block;
  }

  .swiper-button-prev img {
    width: 14px;
    height: auto;
    display: block;
  }
}

.p-strong strong {
  font-weight: bold;
  color: black;
}

.filter-shadow {
  filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.05));
  -webkit-filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.05));

  transform: translateX(-80px);
  -webkit-transform: translateX(-80px);
}

@media (max-width: 1240px) {
  .filter-shadow {
    transform: translateX(-33px);
    -webkit-transform: translateX(-33px);
  }
}

@media (max-width: 1150px) {
  .filter-shadow {
    transform: none;
  }
}

.italian strong {
  color: white;
  font-style: italic;
}

.filter-shadow-2 {
  filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.05));
  -webkit-filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.05));

  transform: translateX(-80px);
  -webkit-transform: translateX(-80px);
}

@media (max-width: 1500px) {
  .filter-shadow-2 {
    transform: none;
  }
}

.woman {
  filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.05));
  -webkit-filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.05));
  /* position: absolute!important;
  bottom: 0%!important;
  left: 50%!important;
  transform: translate(10%, 0%)!important; */
}

/* @media (max-width: 1760px) {
  .woman {
    max-width: 660px !important;
  }
} */

@media (max-width: 1800px) {
  .woman {
    max-width: 760px !important;
  }
}

@media (max-width: 1500px) {
  .woman {
    max-width: 650px !important;
  }
}

@media (max-width: 1240px) {
  .woman {
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
  }
}

@media (max-width: 800px) {
  .woman {
    width: 84% !important;
    height: auto !important;
  }
}

@media (max-width: 599px) {
  .woman {
    display: none !important;
  }
}

.category-nav:hover .dropdown {
  opacity: 1 !important;
  display: grid !important;
  position: absolute;
  top: 0% !important;
  left: 50% !important;
  transform: translate(-50%, 46px) !important;
}

.category-nav:hover .dropdown-new {
  opacity: 1 !important;
  display: grid !important;
  position: absolute;
  top: 22px !important;
  left: 50% !important;
  transform: translate(-50%, 46px) !important;
}

.dropdown-new {
  box-shadow: 0px 35px 39px -27px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 35px 39px -27px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  background-color: white;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 100%;
  width: 100%;
  padding: 24px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 0.75) 0s,
    transform 0.5s cubic-bezier(0.5, 0, 0, 0.75) 0s, visibility 0s ease 0.5s,
    -webkit-transform 0.5s cubic-bezier(0.5, 0, 0, 0.75) 0s;

  box-sizing: border-box;
  display: grid;
  align-items: center;
  align-content: center;
  grid-gap: 51px;
  text-align: center;
}

.nav-mobile .contact-header {
  width: fit-content;
  display: block;
  box-sizing: border-box;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
}

.nav-mobile ul {
  gap: 30px;
  display: grid;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.nav-toggle {
  display: none;
}

@media (max-width: 1150px) {
  .nav-toggle {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    float: right;
    height: 42px;
    width: 46px;
    cursor: pointer;
    padding: 6px;
    z-index: 100;
    outline: none;
  }
}

.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 6px;
  background-color: #07004d;
  transition: all 0.25s;
}

.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(6px, 5px);
  -webkit-transform: rotate(45deg) translate(6px, 5px);
  -moz-transform: rotate(45deg) translate(6px, 5px);
  -ms-transform: rotate(45deg) translate(6px, 5px);
  -o-transform: rotate(45deg) translate(6px, 5px);
}

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(6px, -6px);
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
  -moz-transform: rotate(-45deg) translate(6px, -6px);
  -ms-transform: rotate(-45deg) translate(6px, -6px);
  -o-transform: rotate(-45deg) translate(6px, -6px);
}

.nav-mobile.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.overflow-b {
  overflow-y: hidden;
}

.iconic-dropic:hover .imgic {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.iconic-dropic .imgic {
  transition: all 250ms;
}

.iconic-dropic {
  transition: all 250ms;
}

.outter-white:hover .inner-white {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
}

.outter-white {
  transition: all 250ms;
  position: relative;
  height: 100%;
}

.inner-white {
  transition: all 250ms;
  position: relative;
  z-index: 9;
  background: white;
  height: 100%;
}

.outter-white:hover .img-inner, .outter-white:hover .img-inner-2 {
  display: block!important;
}


.gridic-fleksic {
  display: grid;
    grid-template-columns: .5fr 1fr;
}


.hoveric:hover img {
  opacity: 1;
}

.hoveric {
  transition: all 250ms;
}

.hoveric img {
  transition: all 250ms;
}

.hoveric span {
  transition: all 250ms;
}

.hoveric:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
}

.hoveric:hover .span-1 {
 font-weight: bold;
 color: #05014E;
}

.hoveric:hover .span-2 {
  font-weight: bold;
  color: #FF0035;
}

@media(min-width: 2400px) {
  body {
    zoom:110%;
  }
}

.dropdown-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


.dropdown__content {
	max-height: 0;
	transition: 200ms;

	overflow: hidden;
	padding: 0 1rem;
}

.dropdown__title::before {
	content: "+";
	display: inline-block;
	margin-right: 0.5em;
	width: 1em;
}

/* Active Dropdown Styles */

.dropdown.active .dropdown__content {
	max-height: 100vh;
	padding: 1rem;
	transition: 400ms;
}

.dropdown.active .dropdown__title::before {
	content: "-";
}